In [16]:
import pandas as pd
df=pd.read_excel('qt_dataset.xlsx')

In [17]:
df.head()

  ID  Oxygen  PulseRate  Temperature    Result
0  0    98.0       65.0         95.0  Negative
1  1    96.0       92.0         95.0  Negative
2  2    95.0       92.0         99.0  Negative
3  3    97.0       56.0         96.0  Negative
4  4    88.0       94.0         98.0  Positive

In [19]:
df.Result.value_counts()

Negative    5010
Positive    4990
Name: Result, dtype: int64

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           10001 non-null  object
 1   Oxygen       10000 non-null  float64
 2   PulseRate    10000 non-null  float64
 3   Temperature  10000 non-null  float64
 4   Result       10000 non-null  object
dtypes: float64(3), object(2)
memory usage: 390.8+ KB

In [3]:
df.describe()

             Oxygen     PulseRate   Temperature
count  10000.000000  10000.000000  10000.000000
mean      92.548900     84.976600    100.000700
std        4.611197     26.305841      3.185045
min       85.000000     40.000000     95.000000
25%       88.000000     63.000000     97.000000
50%       93.000000     85.000000    100.000000
75%       97.000000    108.000000    103.000000
max      100.000000    130.000000    105.000000

In [4]:
df.corr()

               Oxygen  PulseRate  Temperature
Oxygen       1.000000  -0.005724    -0.015681
PulseRate   -0.005724   1.000000     0.009602
Temperature -0.015681   0.009602     1.000000

In [5]:
df.columns

Index(['ID', 'Oxygen', 'PulseRate', 'Temperature', 'Result'], dtype='object')

In [10]:
df.isna().sum()

ID             0
Oxygen         0
PulseRate      0
Temperature    0
Result         0
dtype: int64

In [9]:
df=df.dropna()

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import pickle

X = df[['Oxygen', 'PulseRate', 'Temperature']]  # Features
y = df['Result']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model 1: Logistic Regression
logreg_model = LogisticRegression()
logreg_model.fit(X_train, y_train)
logreg_predictions = logreg_model.predict(X_test)
logreg_accuracy = accuracy_score(y_test, logreg_predictions)

# Model 2: Decision Tree
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
dt_predictions = dt_model.predict(X_test)
dt_accuracy = accuracy_score(y_test, dt_predictions)

# Model 3: Random Forest
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_predictions)

# Choose the best model
best_model = None
best_model_name = None

if logreg_accuracy >= dt_accuracy and logreg_accuracy >= rf_accuracy:
    best_model = logreg_model
    best_model_name = 'Logistic_Regression'
elif dt_accuracy >= logreg_accuracy and dt_accuracy >= rf_accuracy:
    best_model = dt_model
    best_model_name = 'Decision_Tree'
else:
    best_model = rf_model
    best_model_name = 'Random_Forest'

# Save the best model to a pickle file
model_filename = f'best_model_{best_model_name}.pkl'
with open(model_filename, 'wb') as model_file:
    pickle.dump(best_model, model_file)

print(f"Best model saved to {model_filename}")

# Additional evaluation metrics
print("\nLogistic Regression Classification Report:\n", classification_report(y_test, logreg_predictions))
print("\nDecision Tree Classification Report:\n", classification_report(y_test, dt_predictions))
print("\nRandom Forest Classification Report:\n", classification_report(y_test, rf_predictions))

Best model saved to best_model_Decision_Tree.pkl

Logistic Regression Classification Report:
               precision    recall  f1-score   support

    Negative       0.93      0.91      0.92      1005
    Positive       0.91      0.93      0.92       995

    accuracy                           0.92      2000
   macro avg       0.92      0.92      0.92      2000
weighted avg       0.92      0.92      0.92      2000


Decision Tree Classification Report:
               precision    recall  f1-score   support

    Negative       1.00      1.00      1.00      1005
    Positive       1.00      1.00      1.00       995

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000


Random Forest Classification Report:
               precision    recall  f1-score   support

    Negative       1.00      1.00      1.00      1005
    Positive       1.00      1.00      1.00       995

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

In [14]:
df['Result'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'